# **1. Installasi Spark**

In [ ]:
# Melihat versi java
!java -version

openjdk version "11.0.17" 2022-10-18
OpenJDK Runtime Environment (build 11.0.17+8-post-Ubuntu-1ubuntu220.04)
OpenJDK 64-Bit Server VM (build 11.0.17+8-post-Ubuntu-1ubuntu220.04, mixed mode, sharing)

In [ ]:
# Melihat versi python
!python --version

Python 3.8.10

In [ ]:
# Install tools/library spark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 22.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=ea177c6ad45cb3bdcd4dddcbd24fbb3a6243067546a70ff12015d4db55b8a527
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
# Import ibrary/
import pyspark
from pyspark.sql import SparkSession

In [ ]:
# Installasi spark
# Master --> untuk installasi lokasi running spark dan jumlah cluster
# AppName --> nama aplikasi yang dibbuat
spark = SparkSession.builder.master("local[2]").appName("Latihan").getOrCreate()

In [ ]:
# Melihat spesifikasi dan inisiasi spark
spark

# **2. Basic Operation Spark**

In [ ]:
# Membuat dataframe spark
data = [{"Nama" : 'Andre', "Umur" : '1'},
        {"Nama" : 'Badu', "Umur" : '2'},
        {"Nama" : 'Crish', "Umur" : '3'},
        {"Nama" : 'Ethan', "Umur" : '4'}]

df = spark.createDataFrame(data)

In [ ]:
# Menampilkan kontent dataframe dalam format tabular
df.show()

+-----+----+
| Nama|Umur|
+-----+----+
|Andre|   1|
| Badu|   2|
|Crish|   3|
|Ethan|   4|
+-----+----+

In [ ]:
# Collect --> Menampilkan konten struktur/metadata
df.collect()

[Row(Nama='Andre', Umur='1'),
 Row(Nama='Badu', Umur='2'),
 Row(Nama='Crish', Umur='3'),
 Row(Nama='Ethan', Umur='4')]

In [ ]:
# Take --> Menampilkan konten struktur/metadata sebanyak sejumlah baris terbatas
df.take(3)

[Row(Nama='Andre', Umur='1'),
 Row(Nama='Badu', Umur='2'),
 Row(Nama='Crish', Umur='3')]

In [ ]:
# Count --> Menghitung jumlah total keseluruhan data
df.count()

4

In [ ]:
# Describe --> Mengembalikan nilai statistik dari dataframe
df.describe().show()

+-------+-----+------------------+
|summary| Nama|              Umur|
+-------+-----+------------------+
|  count|    4|                 4|
|   mean| null|               2.5|
| stddev| null|1.2909944487358056|
|    min|Andre|                 1|
|    max|Ethan|                 4|
+-------+-----+------------------+

In [ ]:
# Summary --> 
df.summary().show()

+-------+-----+------------------+
|summary| Nama|              Umur|
+-------+-----+------------------+
|  count|    4|                 4|
|   mean| null|               2.5|
| stddev| null|1.2909944487358056|
|    min|Andre|                 1|
|    25%| null|               1.0|
|    50%| null|               2.0|
|    75%| null|               3.0|
|    max|Ethan|                 4|
+-------+-----+------------------+

In [ ]:
# Transformasi datafarame biasa menjadi RDD
df_rdd = df.rdd

In [ ]:
# Melihat jumlah cluster/partisi
df_rdd.getNumPartitions()

2

In [ ]:
# Melihat isi data yang sudah  di isi partisi
df_rdd.glom().collect()

[[Row(Nama='Andre', Umur='1'), Row(Nama='Badu', Umur='2')],
 [Row(Nama='Crish', Umur='3'), Row(Nama='Ethan', Umur='4')]]

In [ ]:

# Membuat data RDD menjadi DataFrame
df_biasa = df_rdd.toDF()
df_biasa.show()

+-----+----+
| Nama|Umur|
+-----+----+
|Andre|   1|
| Badu|   2|
|Crish|   3|
|Ethan|   4|
+-----+----+

# **a. Dataset**

In [ ]:
# Membaca Spark
# Header = True --> Digunakan untuk membuat row pertama data mejadi suatu nama fitur
# InferSchema =  True 
df_spark = spark.read.csv("karyawan.csv", header = True, inferSchema = True)

# Melihat isi dataset
df_spark.show()

+-------+--------+----------+------------+
|   nama|    gaji|pengalaman|      divisi|
+-------+--------+----------+------------+
|   Amir| 7000000|         7|          IT|
|   Badu| 6000000|         6|          IT|
|   Doni| 6000000|         6|   Marketing|
|Singgih| 6600000|         6|       Sales|
|   Dedy| 4300000|         4|          IT|
|  Nuzul| 7300000|         7|          IT|
|Mustofa|15000000|        15|          IT|
|   Umar| 7200000|         7|          IT|
|Arindra| 7800000|         7|Data Science|
|  Apang| 7400000|         7|Data Science|
|   Adit|    null|         5|   Marketing|
|   Janu|    null|      null|       Sales|
|   null|    null|      null|        null|
+-------+--------+----------+------------+

In [ ]:
# Melihat tipe data jenis kolom
df_spark.dtypes

[('nama', 'string'),
 ('gaji', 'int'),
 ('pengalaman', 'int'),
 ('divisi', 'string')]

In [ ]:
# Melihat ifromasi /skema  dari data
df_spark.printSchema()

root
 |-- nama: string (nullable = true)
 |-- gaji: integer (nullable = true)
 |-- pengalaman: integer (nullable = true)
 |-- divisi: string (nullable = true)

In [ ]:
# Memilih/Melihat informasi khusus pada suatu kolom 
df_spark.select("nama").show()

+-------+
|   nama|
+-------+
|   Amir|
|   Badu|
|   Doni|
|Singgih|
|   Dedy|
|  Nuzul|
|Mustofa|
|   Umar|
|Arindra|
|  Apang|
|   Adit|
|   Janu|
|   null|
+-------+

In [ ]:
# Memilih/Melihat informasi khusus pada suatu kolom 
df_spark.select("nama","gaji").show()

+-------+--------+
|   nama|    gaji|
+-------+--------+
|   Amir| 7000000|
|   Badu| 6000000|
|   Doni| 6000000|
|Singgih| 6600000|
|   Dedy| 4300000|
|  Nuzul| 7300000|
|Mustofa|15000000|
|   Umar| 7200000|
|Arindra| 7800000|
|  Apang| 7400000|
|   Adit|    null|
|   Janu|    null|
|   null|    null|
+-------+--------+

In [ ]:
# Memilih/Melihat informasi khusus pada suatu kolom 
df_spark.select("nama","gaji","pengalaman").show()

+-------+--------+----------+
|   nama|    gaji|pengalaman|
+-------+--------+----------+
|   Amir| 7000000|         7|
|   Badu| 6000000|         6|
|   Doni| 6000000|         6|
|Singgih| 6600000|         6|
|   Dedy| 4300000|         4|
|  Nuzul| 7300000|         7|
|Mustofa|15000000|        15|
|   Umar| 7200000|         7|
|Arindra| 7800000|         7|
|  Apang| 7400000|         7|
|   Adit|    null|         5|
|   Janu|    null|      null|
|   null|    null|      null|
+-------+--------+----------+

In [ ]:
# Transformasi data menambahkan kolom baru
df_spark = df_spark.withColumn("gaji_baru", df_spark["gaji"] + 1000000)
df_spark.show()

+-------+--------+----------+------------+---------+
|   nama|    gaji|pengalaman|      divisi|gaji_baru|
+-------+--------+----------+------------+---------+
|   Amir| 7000000|         7|          IT|  8000000|
|   Badu| 6000000|         6|          IT|  7000000|
|   Doni| 6000000|         6|   Marketing|  7000000|
|Singgih| 6600000|         6|       Sales|  7600000|
|   Dedy| 4300000|         4|          IT|  5300000|
|  Nuzul| 7300000|         7|          IT|  8300000|
|Mustofa|15000000|        15|          IT| 16000000|
|   Umar| 7200000|         7|          IT|  8200000|
|Arindra| 7800000|         7|Data Science|  8800000|
|  Apang| 7400000|         7|Data Science|  8400000|
|   Adit|    null|         5|   Marketing|     null|
|   Janu|    null|      null|       Sales|     null|
|   null|    null|      null|        null|     null|
+-------+--------+----------+------------+---------+

In [ ]:
# Transformasi hapus data
df_spark = df_spark.drop("gaji_baru")
df_spark.show()

+-------+--------+----------+------------+
|   nama|    gaji|pengalaman|      divisi|
+-------+--------+----------+------------+
|   Amir| 7000000|         7|          IT|
|   Badu| 6000000|         6|          IT|
|   Doni| 6000000|         6|   Marketing|
|Singgih| 6600000|         6|       Sales|
|   Dedy| 4300000|         4|          IT|
|  Nuzul| 7300000|         7|          IT|
|Mustofa|15000000|        15|          IT|
|   Umar| 7200000|         7|          IT|
|Arindra| 7800000|         7|Data Science|
|  Apang| 7400000|         7|Data Science|
|   Adit|    null|         5|   Marketing|
|   Janu|    null|      null|       Sales|
|   null|    null|      null|        null|
+-------+--------+----------+------------+

In [ ]:
# Transformasi merubah nama/rename kolom
df_spark.withColumnRenamed("gaji", "salary").show()

+-------+--------+----------+------------+
|   nama|  salary|pengalaman|      divisi|
+-------+--------+----------+------------+
|   Amir| 7000000|         7|          IT|
|   Badu| 6000000|         6|          IT|
|   Doni| 6000000|         6|   Marketing|
|Singgih| 6600000|         6|       Sales|
|   Dedy| 4300000|         4|          IT|
|  Nuzul| 7300000|         7|          IT|
|Mustofa|15000000|        15|          IT|
|   Umar| 7200000|         7|          IT|
|Arindra| 7800000|         7|Data Science|
|  Apang| 7400000|         7|Data Science|
|   Adit|    null|         5|   Marketing|
|   Janu|    null|      null|       Sales|
|   null|    null|      null|        null|
+-------+--------+----------+------------+

In [ ]:
# Filtering data menggunakan filter
df_spark.filter("gaji <= 7000000").show()

+-------+-------+----------+---------+
|   nama|   gaji|pengalaman|   divisi|
+-------+-------+----------+---------+
|   Amir|7000000|         7|       IT|
|   Badu|6000000|         6|       IT|
|   Doni|6000000|         6|Marketing|
|Singgih|6600000|         6|    Sales|
|   Dedy|4300000|         4|       IT|
+-------+-------+----------+---------+